
<nav class="navbar navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <a href="#" class="brand">Recipes Galore</a>
    <ul class="nav pull-right">
      <li class="active"><a href="#">Home</a></li> 
      <li class="todo-search">
        <input class="todo-search-field" type="search" value placeholder= "Search">
      </li>
    </ul>
  </div>
</nav>

