// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 20px;


}

h2 {
  display: inline;
  position: relative;
  top: -5px;
}

.tile {
  background: #9B59B6;


}


ul {
  list-style: none;
}

.add_new a{
  color: white;
  text-decoration: none;
}

.todo-search {
  top: -6px;
}